
@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-bg{
    background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
}
.grad-text{
    /* identical to box height */

text-align: right;

background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.white-shadow{
    background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

/* position: absolute; */
width: 320px;
height: 55px;


background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
border-radius: 10px;
}

.flow-hide {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}